services:
  - type: web
    name: n8n
    env: docker
    plan: starter
    healthCheckPath: /healthz
    envVars:
      - key: N8N_PORT
        value: 10000
      - key: N8N_PROTOCOL
        value: https
